* {
    margin:0;
    padding:0;
}
body{
    font-size: 12px;
    font-family:verdana, arial, helvetica, sans-serif;
}
.container{
    /*width: 1250px;*/
}
.upload-div{
    width: 100%;
}
.upload-text{
    cursor: pointer;
}
.table-div{
    margin-top: 20px;
    min-height: 500px
}
#td-content{
    vertical-align: middle;
    text-align: left; 
    padding-left: 25px;
}
#td-path,#td-date,#td-pic,#td-down{
    vertical-align: middle;
}
#td-size{
    vertical-align: middle;
    text-align: right;
    padding-right: 20px;
}
.hand-perm{
    position: relative;
    font-size: 30px;
    vertical-align: middle;
}
.text-perm{
    margin-left: 20px;
    font-size:20px;
    vertical-align: middle;
}
.panel-body {
    padding: 5px;
}

/*分页*/
.fenye{
    font-size: 16px;
    font-weight: bold;
}
div.jogger{padding:2px;margin:7px;font-family:"lucida sans unicode", "lucida grande", lucidagrande, "lucida sans", 
               geneva, verdana, sans-serif;margin: 20px;}
div.jogger a{padding:0.5em 0.64em 0.43em 0.64em;margin:2px;color:#fff;background-color:#009f4b;text-decoration:none;}
div.jogger a:hover{padding:0.5em 0.64em 0.43em 0.64em;margin:2px;color:#fff;background-color:#009f4b;}
div.jogger a:active{padding:0.5em 0.64em 0.43em 0.64em;margin:2px;color:#fff;background-color:#009f4b;}
div.jogger span.current{padding:0.5em 0.64em 0.43em 0.64em;margin:2px;color:#6d643c;background-color:#f6efcc;}
div.jogger span.disabled{display:none;}
@media screen and (max-width: 600px) { 
    #bot .btn{
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }
    .table-div{
        margin-top: 5px;
        min-height: 0px;
    }
    #td-content{
        padding-left: 9px;
    }
    #td-pic .btn{
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }
    div.jogger a{
        padding: 5px;
    }
    .upload-div{
        width: 60%;
    }
    #tr-path, #tr-size,#tr-date,#td-path,#td-date{
        display: none;
    }
}
@media screen and (max-width: 600px){
    .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th {
        white-space: normal;
    }
    #td-size{
        padding-right: 0px;
    }
}
